<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Cargar Casa</title></head>
<body>
    <h1>Nueva Propiedad</h1>
    <form th:action="@{/propiedades/guardar}" th:object="${propiedad}" method="post">
        <input type="text" th:field="*{titulo}" placeholder="Título (ej: Casa 2 dorm)" required><br>
        <input type="number" th:field="*{precio}" placeholder="Precio" required><br>
        <textarea th:field="*{descripcion}" placeholder="Descripción"></textarea><br>
        <button type="submit">Guardar Propiedad</button>
    </form>
</body>
</html>